<h1>List of All Products</h1>

<table class="table">
  <thead>
    <tr>
      <td>
        Product Name
      </td>
      <td>
        Product Price
      </td>
      <td>
        Product Rating
      </td>
      <td>
        Buy
      </td>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <%= link_to product["productname"], root_path %>
        </td>
        <td>
          <%= product["productprice"] %>
        </td>
        <td>
          5 Reviews
        </td>
        <td>
          <%= link_to "Buy", products_buy_path(:productname => product["productname"], :amount => product["productprice"]), :method => :post %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> 