<h1>Product Details Page</h1>

<h4>Product name:</h4>
<p><%= @product['productname'] %></p>
<br />

<h4>Product price:</h4>
<p><%= @product['productprice'] %></p>
<br />

<h4>Product description:</h4>
<p><%= @product['productdescription'] %></p>